@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using TietoCRM.Extensions;
@using TietoCRM.Models;
<row>
    <div class="col-md-12">
        <form method="get" action="~/TopCustomersReport/Pdf" target="_blank" class="form-inline">
            <div class="form-group">
                <label for="crm-select-year">Year:</label>
                <select name="year" id="crm-select-year" class="form-control selectpicker" data-live-search="true">
                    @for(int i = DateTime.Now.Year; i >= 1990; i--)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="crm-select-area">Area:</label>
                <select name="area" id="crm-select-area" class="form-control selectpicker" data-live-search="true">
                    @foreach (var SelectOption in (new SelectOptions<view_Sector>()).GetOptions("Area"))
                    {
                        <option value="@SelectOption.Value">@SelectOption.Text</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="crm-select-user">Representative:</label>
                <select name="user" id="crm-select-user" class="form-control selectpicker" data-live-search="true">
                    
                </select>
            </div>
            <div class="form-group">
                <button id="fetch-pdf" style="margin-top: 1.7em;" class="btn btn-default" type="button">PDF</button>
            </div>
        </form>
    </div>
    <div class="col-md-12">
        <table draggable="true" id="report-table" class="table table-bordered table-hover" data-sort-name="name" data-sort-order="desc">
            <thead>
                <tr>
                    <th data-field="customer" data-sortable="true">Customer</th>
                    <th data-field="amount" data-sortable="true">Total spent</th>
                    <th data-field="representative" data-sortable="true">Representative</th>
                    <th data-field="customer_type" data-sortable="true">Customer type</th>
                    <th data-field="county" data-sortable="true">County</th>
                </tr>
            </thead>
        </table>
    </div>
    <script>
    var serverPrefix = "@Url.Content("~/")";
    @{String DataObject = "\r\n";}
    @{
        DataObject += "\t\t\t\t\t\t\t\t\t\t{ \"data\": \"" + "customer" + "\"  },\r\n";
        DataObject += "\t\t\t\t\t\t\t\t\t\t{ \"data\": \"" + "amount" + "\"  },\r\n";
        DataObject += "\t\t\t\t\t\t\t\t\t\t{ \"data\": \"" + "representative" + "\"  },\r\n";
        DataObject += "\t\t\t\t\t\t\t\t\t\t{ \"data\": \"" + "customer_type" + "\"  },\r\n";
        DataObject += "\t\t\t\t\t\t\t\t\t\t{ \"data\": \"" + "county" + "\"  },\r\n";
    }
    @{DataObject = DataObject.Remove(DataObject.Length - 3);}
    var updateDataTable = function()
    {
        $('#report-table').DataTable({
            "destroy": true,
            "processing": true,
            "bPaginate": false,
            "ajax": {
                "url": serverPrefix + "TopCustomersReport/TopCustomers/",
                "type": "POST",
                "data": {
                    "user": $userContainer.val(),
                    "area": $areaContainer.val(),
                    "year": $yearContainer.val()
                }
            },
            "defaultContent": "",
            "columns": [@Html.Raw(DataObject)
            ],
            "order": [[1, "desc"]],
            "scrollX": true,

        });

    }
    $('document').ready(function () {

        $('.selectpicker').selectpicker();

        $userContainer = $("#crm-select-user");

        $areaContainer = $("#crm-select-area");

        $yearContainer = $("#crm-select-year");

        $areaContainer.on("change", function () {
            if ($areaContainer.val() != "*")
                updateUser();
            else
            {
                $userContainer.empty();
                $('.selectpicker').selectpicker("refresh");
                updateDataTable();
            }
        });

        updateDataTable()

        $userContainer.change(function () {
            updateDataTable()
        });

        $yearContainer.change(function () {
            updateDataTable()
        });
    });
    var updateUser = function(){
        $.ajax({
            "url": serverPrefix + "TopCustomersReport/GetUsers/",
            "type": "POST",
            "data": {
                "area": $("#crm-select-area").val()
            },
            "success": function (data) {
                $userContainer.empty();
                $userContainer.append("<option value='*'>All</option>");
                var json = JSON.parse(data);
                var length = json.length;
                for(var i = 0; i < length; i++)
                {
                    user = json[i];
                    $userContainer.append("<option value='" + user.Sign + "'>" + user.Name + "</option>");
                }
                $('.selectpicker').selectpicker("refresh");
                updateDataTable($userContainer.val());
            }
        });
    }
    $('#fetch-pdf').click(function () {
        var user = $userContainer.val();
        var area = $areaContainer.val();
        var year = $yearContainer.val();
        var $dt = $('.dataTable').DataTable();
        var sortArr = $dt.order();
        var sort = "&sort=" + sortArr[0][1] + "&prop=" + $($dt.columns(sortArr[0][0]).header()).attr("data-field");
        var params = "?user=" + user + "&area=" + area + "&year=" + year;

        window.open(serverPrefix + 'TopCustomersReport/Pdf' + params + sort, "_blank");
    })

    </script>
</row>
