@{ 
    List<String> SkipProp = new List<String>{
        "File_format",
        "SSMA_timestamp"
    };
  
}
@using TietoCRM.Models

<table draggable="true" id="user-table" class="table table-bordered table-hover" data-url="data1.json" data-height="299" data-sort-name="name" data-sort-order="desc">
    <thead>
        <tr>
            <th data-field="#" data-sortable="false" >#</th>
            @foreach (System.Reflection.PropertyInfo PropertyInfo in ViewBag.Properties)
            {
                String PropertyName = PropertyInfo.Name.Replace("_", " ");
                if (!SkipProp.Contains(PropertyInfo.Name))
                {
                    <th data-field="@PropertyInfo.Name" data-sortable="true" >@PropertyName</th>
                }
            }
        </tr>
    </thead>
 </table>

@* Denna del beskriver editeringsformuläret som dyker upp när man trycker på Edit eller Create. Namn=Modal*@
<div class="modal fade bs-example-modal-lg"  data-backdrop="static" id="userModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit user</h4>
            </div>
            <div id="user-modal" class="modal-body">
                <form class="form-horizontal">
                    <table style="width: 100%;">
                        @{
                            int count = 0;
                            foreach (System.Reflection.PropertyInfo pi in ViewBag.Properties)
                            {

                                if (count == 0 || count == 8)
                                {
                                    @Html.Raw("<td valign=\"top\">")
                                }

                                String pName = pi.Name.Replace("_", " ");
                                if (pi.Name == "User_level")
                                {
                                    <div class="form-group">
                                        <label for="@pi.Name.ToLower()-text" class="col-sm-2 control-label">@pName</label>
                                        <div class="col-sm-10">
                                            <select class="form-control selectpicker" id="@pi.Name.ToLower()-text" name="@pi.Name" placeholder="@pName">
                                                <option value="">Nothing Selected</option>
                                                <option value="1">Supervisor</option>
                                                <option value="2">Salesperson</option>
                                                <option value="3">Product owner</option>
                                            </select>
                                        </div>
                                    </div>
                                }
                                else if (pi.Name == "Area")
                                {
                                    <div class="form-group">
                                        <label for="@pi.Name.ToLower()-text" class="col-sm-2 control-label">@pName</label>
                                        <div class="col-sm-10">
                                            <select class="form-control selectpicker" id="@pi.Name.ToLower()-text" name="@pi.Name" placeholder="@pName">
                                                @foreach (var so in (new SelectOptions<view_Sector>()).GetOptions("Area"))
                                                {
                                                    <option value="@so.Value" selected>@so.Text</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                }
                                @*else if (pi.Name == "Use_logo")
                                {
                                    <div class="form-group">
                                        <label for="@pi.Name.ToLower()-text" class="col-sm-2 control-label">@pName</label>
                                        <div class="col-sm-10">
                                            <select class="form-control selectpicker" id="@pi.Name.ToLower()-text" name="@pi.Name" placeholder="@pName">
                                                <option value="true">Yes</option>
                                                <option value="false">No</option>
                                            </select>
                                        </div>
                                    </div>
                                }*@
                                else if (pi.Name == "Use_logo")
                                {
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <div class="checkbox">
                                                <label for="@pi.Name.ToLower()">
                                                    <input id="@pi.Name.ToLower()" data-id="@pi.Name.ToLower()" name="Use_logo" type="checkbox" />
                                                    Use Logo
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else if (pi.Name == "Std_sum_offert")
                                {
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <div class="checkbox">
                                                <label for="@pi.Name.ToLower()">
                                                    <input id="@pi.Name.ToLower()" data-id="@pi.Name.ToLower()" name="Std_sum_offert" type="checkbox" />
                                                    Std sum offert
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else if (pi.Name == "Std_sum_kontrakt")
                                {
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <div class="checkbox">
                                                <label for="@pi.Name.ToLower()">
                                                    <input id="@pi.Name.ToLower()" data-id="@pi.Name.ToLower()" name="Std_sum_kontrakt" type="checkbox" />
                                                    Std sum kontrakt
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else if (pi.Name == "Kr_every_row")
                                {
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <div class="checkbox">
                                                <label for="@pi.Name.ToLower()">
                                                    <input id="@pi.Name.ToLower()" data-id="@pi.Name.ToLower()" name="Kr_every_row" type="checkbox" />
                                                    Kr on every row
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else if (pi.Name == "Offer_file_location")
                                {
                                    <div class="form-group">
                                        <label for="@pi.Name.ToLower()-text" class="col-sm-2 control-label">
                                            @pName
                                            <span class="glyphicon glyphicon glyphicon-info-sign" aria-hidden="true"
                                                  data-toggle="tooltip" data-placement="top"
                                                  title="Here you can specify format of the file names. Just use &#64;ID &#64;TITLE &#64;REP &#64;CUSTOMER &#64;DATE"></span>
                                        </label>

                                        <div class="col-sm-10">
                                            <input class="form-control" id="@pi.Name.ToLower()-text" name="@pi.Name" placeholder="@pName">
                                        </div>
                                    </div>
                                }
                                else if (pi.Name == "Contract_file_location")
                                {
                                    <div class="form-group">
                                        <label for="@pi.Name.ToLower()-text" class="col-sm-2 control-label">
                                            @pName
                                            <span class="glyphicon glyphicon glyphicon-info-sign" aria-hidden="true"
                                                  data-toggle="tooltip" data-placement="top"
                                                  title="Here you can specify format of the file names. Just use &#64;ID &#64;TITLE &#64;REP &#64;CUSTOMER &#64;DATE &#64;TYPE"></span>
                                        </label>

                                        <div class="col-sm-10">
                                            <input class="form-control" id="@pi.Name.ToLower()-text" name="@pi.Name" placeholder="@pName">
                                        </div>
                                    </div>
                                }
                                else if (pi.Name == "AvtalSortera")
                                {
                                    <div class="form-group">
                                        <label for="@pi.Name.ToLower()-text" class="col-sm-2 control-label">Sortering avtal</label>
                                        <div class="col-sm-10">
                                            <select class="form-control selectpicker" id="@pi.Name.ToLower()-text" name="@pi.Name" placeholder="@pName">
                                                <option value="">Nothing Selected</option>
                                                <option value="1">Artikelnamn</option>
                                                <option value="2">Classification, Artikelnamn</option>
                                                <option value="3">Classification, Artikel-nr</option>
                                            </select>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                            <div class="form-group">
                                        <label for="@pi.Name.ToLower()-text" class="col-sm-2 control-label">@pName</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" id="@pi.Name.ToLower()-text" name="@pi.Name" placeholder="@pName">
                                        </div>
                                    </div>
                                }

                                if (count == 7 || count == ViewBag.Properties.Length - 1)
                                {
                                    @Html.Raw("</td>")
                                }
                            count++;
                            }

                        }
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="save-user-changes" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
@*Slut på Modal*@

<script>
    var serverPrefix = "@Url.Content("~/")";
    var updateCurrentUserSection = function ()
    {
        $.ajax({
            "url": serverPrefix + "Shared/CurrentUserSection/",
            "success": function (data) {
                $('#currentUserSection').html(data);
            }
        });
    }
    var uploadToServer = function () {
        if (typeof $("#save-user-changes").attr("data-user") != "undefined") {

            var oldUser = $("#save-user-changes").attr("data-user");

            var user = {}

            var $formInputs = $("#userModal form").find(":input");

            var frmInpLen = $formInputs.length;
            for (var i = 0; i < frmInpLen; i++) {
                var $currInput = $($formInputs[i]);
                if ($currInput.prop("type") == "checkbox" || $currInput.prop("type") == "radio") {
                    if ($currInput.prop("name") == "Use_logo") {
                        user[$currInput.attr("name")] = (($currInput.prop("checked")) ? "true" : "false");
                    }
                    else {
                        user[$currInput.attr("name")] = (($currInput.prop("checked")) ? "1" : "0");
                    }
                }
                else {
                    user[$currInput.attr("name")] = $currInput.val();
                }
            }
            $.ajax({
                "url": serverPrefix + "User/SaveUser/",
                "type": "POST",
                "data": {
                    "json": JSON.stringify(user),
                    "sign": oldUser,
                },
                "success": function (data) {
                    if (data > 0) {
                        updateDataTable();
                        updateCurrentUserSection();
                        console.log("success");
                        $("#userModal").modal("hide");
                        triggerAlert("Successfully updated this user", "success");
                    }
                    else {
                        console.log("failure");
                        triggerAlert("Something went wrong when trying to update the user on the server", "warning");
                    }
                }
            });
        }
        else {
            var user = {}

            var $formInputs = $("#user-modal form").find(":input");

            var frmInpLen = $formInputs.length;
            for (var i = 0; i < frmInpLen; i++) {
                var $currInput = $($formInputs[i]);
                if ($currInput.attr("name") != undefined) {
                    if ($currInput.prop("type") == "checkbox" || $currInput.prop("type") == "radio") {
                        if ($currInput.prop("name") == "Use_logo") {
                            user[$currInput.attr("name")] = (($currInput.prop("checked")) ? "true" : "false");
                        }
                        else {
                            user[$currInput.attr("name")] = (($currInput.prop("checked")) ? "1" : "0");
                        }
                    }
                    else {
                        user[$currInput.attr("name")] = $currInput.val();
                    }
                }
            }
            $.ajax({
                "url": serverPrefix + "User/InsertUser/",
                "type": "POST",
                "data": {
                    "json": JSON.stringify(user),
                },
                "success": function (data) {
                    if (data > 0) {
                        updateDataTable();
                        console.log("success");
                        $("#userModal").modal("hide");
                        triggerAlert("Successfully inserted the new user", "success");
                    }
                    else {
                        console.log("failure");
                        triggerAlert("Something went wrong when trying to insert the user to the server", "warning");
                    }
                }
            });
        }
    }

    $(document).ready(function () {
        var $avtalSortera = $("#avtalsortera");
        $("#save-user-changes").click(function () {
            if ($("#user-modal form").valid()) {
                uploadToServer();
            }
        });

        $formValidation = $("#userModal form").validate({
            ignore: ".ignore",
            rules: {
                "Sign": {
                    required: true,
                    maxlength: 3,
                },
                "Name": {
                    required: true,
                    maxlength: 50,
                },
                //"Default_system": {
                //    required: true,
                //    maxlength: 3,
                //},
                "Windows_user": {
                    required: true,
                    maxlength: 50,
                },
                "Offer_file_location": {
                    maxlength: 100,
                },
                "File_format": {
                    maxlength: 20,
                },
                "Address": {
                    maxlength: 40,
                },
                "City": {
                    maxlength: 55,
                },
                "Telephone": {
                    maxlength: 15,
                },
                "Mobile": {
                    maxlength: 15,
                },
                "User_level": {
                    required: true,
                    maxlength: 15,
                },
                "Area": {
                    required: true,
                },
                "Email": {
                    maxlength: 50,
                },
                "AvtalSortera": {
                    required: true,
                },

            },
            errorElement: "span",
            wrapper: "a",  // a wrapper around the error message
            errorPlacement: function (error, element) {
                error.next().addClass("tooltips");
                error.addClass("tooltips");
                error.insertAfter(element);
            }
        });
    });
</script>



<script>
    var selectedId = null;

    var selectRow = function (element) {
        var $td = $(element);
        var $row = $(element).parent();
        var $table = $("#user-table");

        $td.find("input").prop("checked", true);

        selectedId = $td.find("input").val();

        $table.find("tr.selected").removeClass("selected");

        $row.addClass("selected");
    }

    @{String DataObject = "\r\n\t\t\t\t\t{ \"data\": \"" + "#" + "\"  },\r\n";}
    @foreach (System.Reflection.PropertyInfo PropertyInfo in ViewBag.Properties)
    {
        String PropertyName = PropertyInfo.Name.Replace("_", " ");
        if (!SkipProp.Contains(PropertyInfo.Name))
        {
            DataObject += "\t\t\t\t\t{ \"data\": \"" + @PropertyInfo.Name + "\"  },\r\n";
        }
    }
    @{DataObject = DataObject.Remove(DataObject.Length - 3);}
    var updateDataTable = function (onSuccess) {
        $('#user-table').DataTable({
            "destroy": true,
            "processing": true,
            "ajax": {
                "url": serverPrefix + "User/UserJsonData/",
            },
            "initComplete": function (settings, json) {
                if (typeof onSuccess != "undefined")
                    onSuccess();
                drawButtons();
            },
            "defaultContent": "",
            //"iDisplayLength": Math.ceil(($("#page-content-wrapper").height() / 60)),
            "order": [[1, "asc"]],
            "columns": [@Html.Raw(DataObject)
            ],
            "lengthMenu": [[100, 500, 1000, -1], [100, 500, 1000, "All"]],
            "columnDefs": [
                {
                    "data": null,
                    "defaultContent": "",
                    "targets": 0
                }
            ],
            //"scrollY": ($("#page-content-wrapper").height() - 170),
            //"scrollY": "600px",
           
            "scrollX": "1200px",
            "fnRowCallback": drawCallBack
        });
        var $selRowContainer = $("#user-table_length");
        //$selRowContainer.append("<div id='crm-add-row' class='crm-table-btn'><button type='button' class='btn btn-default'>Add row</button></div>");
        //$selRowContainer.append("<div id='crm-save-updates' class='crm-table-btn'><button type='button' id='crm-save-btn' class='btn btn-success' autocomplete='off'>Save</button></div>");
        //$('#crm-save-btn').on('click', save);
    }

    function drawButtons() {
        var $selRowContainer = $("#user-table_wrapper").find(".row").first().find(".col-sm-6").first();

        $selRowContainer.append("<div id='crm-edit-user' class='crm-table-btn'><button type='button' class='btn btn-default'>Edit</button></div>");
        $("#crm-edit-user").bind("click", function () {
            if (selectedId != null) {
                $("#sign-text").prop("readonly", true);
                $("#save-user-changes").attr("data-user", selectedId);
                var $selectedTds = $("#user-table tr.selected td").not(".radios");
                var tdLen = $selectedTds.length;

                var $formInputs = $("#userModal form").find(":input");

                var frmInpLen = $formInputs.length;
                for (var i = 0; i < frmInpLen; i++) {
                    var $currInput = $($formInputs[i]);
                    for (var j = 0; j < tdLen; j++) {
                        var $currTD = $($selectedTds[j]);
                        if ($currTD.data("property") == $currInput.attr("name")) {
                            if ($currInput.attr("type") == "checkbox") {
                                if ($currTD.text() == "true" || $currTD.text() == "1") {
                                    $currInput.prop("checked", true);
                                }
                                else {
                                    $currInput.prop("checked", false);
                                }
                            }
                            else {
                                $currInput.val($currTD.text());
                            }
                        }
                    }
                }
                $('.selectpicker').selectpicker('refresh');
                $("#save-user-changes").attr("data-user", selectedId);
                $("#userModal").appendTo("body").modal("show").draggable();
            }
            else
                triggerAlert("You have to select a row to edit first.", "info");
        });

        $selRowContainer.append("<div id='create-user-button' class='crm-table-btn'><button type='button' class='btn btn-default'>Create</button></div>");
        $("#create-user-button").bind("click", function () {
            $("#sign-text").removeAttr("readonly");
            $("#userModal").appendTo("body").modal("show").draggable();
            $("#save-user-changes").removeAttr("data-user");
            var $selectedTds = $("#user-table tr.selected td").not(".radios");
            var tdLen = $selectedTds.length;

            var $formInputs = $("#userModal form").find(":input");

            var frmInpLen = $formInputs.length;
            for (var i = 0; i < frmInpLen; i++) {
                var $currInput = $($formInputs[i]);
                //console.log($currInput.attr("name"));
                if ($currInput.attr("id") == "use_logo" || $currInput.attr("id") == "std_sum_offert" || $currInput.attr("id") == "std_sum_kontrakt" || $currInput.attr("id") == "kr_every_row") {
                    $currInput.attr("checked", false);
                } else {
                    $currInput.val("");
                }
            }
        });

        $selRowContainer.append("<div id='delete-user-button' class='crm-table-btn'><button type='button' class='btn btn-danger'>Delete</button></div>");
        $("#delete-user-button").bind("click", function () {
            bootbox.dialog({
                title: 'Do you want to delete?',
                className: "crm-delete-confirm",
                message: "You are about to delete the selected user, are you sure you want to delete it?",
                buttons: {
                    'cancel': {
                        label: 'Cancel',
                        className: 'btn-default'
                    },
                    'yes': {
                        label: 'Yes',
                        className: 'btn-danger pull-right',
                        callback: function () {
                            $.ajax({
                                "url": serverPrefix + "User/DeleteUser/",
                                "type": "POST",
                                "data": {
                                    "sign": selectedId,
                                },
                                "success": function (data) {
                                    if (data > 0) {
                                        updateDataTable();
                                        console.log("success");
                                        triggerAlert("Successfully deleted row", "success");
                                    }
                                    else {
                                        console.log("failure");
                                        triggerAlert("Something went wrong when trying to delete this row", "warning");
                                    }
                                }
                            });
                        }
                    },
                    'no': {
                        label: 'No',
                        className: 'pull-right',
                    }
                },
            });
        });
        drawButtonsExtension($selRowContainer);
    }

    var triggerAlert = function (msg, priorty) {
        $(document).trigger("clear-alerts");
        $(document).trigger("add-alerts", [
          {
              'message': msg,
              'priority': priorty
          }
        ]);
    }

    var drawCallBack = function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {

        var i = 0, j = 0;
        var insertValue;
        for (var name in aData) {

            var i = 0;
            var insertValue;

            for (var name in aData) {
                var $td;


                if (i == 0) {
                    $td = $('td:eq(' + i + ')', nRow);

                    $td.parent().click(function () {

                        selectRow(this.firstChild);

                    });
                    $td.html("<input type='radio' value='" + aData["Sign"] + "' name='selected-contact' onClick=''/>");
                    $td.addClass("radios");
                    if ($td.find("input").val() == selectedId) {
                        selectRow($td);
                    }
                    else if ($td.find("input").val() != selectedId) {
                        $td.parent().removeClass("selected");
                    }
                    i++;
                }
                //console.log(name);

                if (name == "File_format")
                {
                    continue;
                }

               

                if (i < 18) {
                    $td = $('td:eq(' + i + ')', nRow);
                    $td.attr("data-property", name);

                    if (name == "User_level") {
                        var titleString = "";
                        var userLevel = aData[name];
                        switch(userLevel)
                        {
                            case 0:
                                titleString = "Supervisor";
                                break;
                            case 1:
                                titleString = "Supervisor";
                                break;
                            case 2:
                                titleString = "Salesperson";
                                break;
                            case 3:
                                titleString = "Product owner";
                                break;
                            default:
                                titleString = "Unspecified"
                        }
                        $td.attr("title", titleString);
                    }
                    
                    $td.html(String(aData[name]));
                }

                i++;
            }
        }
    }

    $('document').ready(function () {

       
        $('.selectpicker').selectpicker();

        $('[data-toggle="tooltip"]').tooltip()
        

        $('#user-table').DataTable({
            "destroy": true,
            "processing": true,
            "ajax": {
                "url": serverPrefix + "User/UserJsonData/",
            },
            "initComplete": function (settings, json) {
                drawButtons();
            },
            "defaultContent": "",
            //"iDisplayLength": Math.ceil(($("#page-content-wrapper").height() / 60)),
            "order": [[1, "asc"]],
            "columns": [@Html.Raw(DataObject)],
            "columnDefs": [
                { "data": null, "defaultContent": "", "targets": 0 },

            ],
            "lengthMenu": [[100, 500, 1000, -1], [100, 500, 1000, "All"]],
            //"scrollY": ($("#page-content-wrapper").height() - 170),
            //"scrollY": "600px",
            "scrollX": "1200px",
            "fnRowCallback": drawCallBack
        });
    });


</script>
