@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
}
<html>
<head>
    <style>
        html, body {
            margin: 0px;
            height: 100%;
        }

        .box {
            background: #b1b5ce;
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
        }

        .row {
            display: -webkit-box;  /*wkhtmltopdf uses this one */
            display:flow;
            -webkit-box-pack: center;  /*wkhtmltopdf uses this one */
            justify-content: center;
            column-fill:auto;
        }

        /*.row > div {
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            flex: 1;
        }

        .row > div:last-child {
            margin-right: 0;
        }*/
    </style>
</head>
<body>
    <div class="box" style="padding:50px 50px 50px 50px">
        <div style="font-size:80px; margin-bottom:50px">
            Produktportfölj @ViewBag.Area - @ViewBag.Customer 
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4" style="font-size:large">
                @{
                    var currentModule = "";
                    var count = 0;
                    var customerModuleList = (List<string>)ViewBag.Customermodules;
                }

                @foreach (TietoCRM.Models.view_Module module in ViewBag.AllModules)
                {
                    count++;

                    if (@module.System != currentModule)
                    {
                        <h2>@module.System</h2>
                        currentModule = module.System;
                    }

                    if (customerModuleList.Contains(@module.Module))
                    {
                        if (module.Expired.HasValue && module.Expired.Value)
                        {
                            if (module.Module_status == 3) //In developement
                            {
                                <div style="font-weight: bolder; color: red; max-width: 450px; margin-right: 10px; margin-top: 3px">
                                    <s>@module.Module</s>
                                </div>
                            }
                            else
                            {
                                <div style="font-weight: bolder; max-width: 450px; margin-right: 10px; margin-top: 3px ">
                                    <s>@module.Module</s>
                                </div>
                            }
                        }
                        else
                        {
                            if (module.Module_status == 3) //In developement
                            {
                                <div style="font-weight: bolder; color: red; max-width: 450px; margin-right: 10px; margin-top: 3px ">
                                    @module.Module
                                </div>
                            }
                            else
                            {
                                <div style="font-weight: bolder; max-width: 450px; margin-right: 10px; margin-top: 3px ">
                                    @module.Module
                                </div>
                            }
                        }
                    }
                    else
                    {
                        if (module.Expired.HasValue && module.Expired.Value)
                        {
                            if (module.Module_status == 3) //In developement
                            {
                                <div style="color: red; max-width: 450px; margin-right: 10px; margin-top: 3px ">
                                    <s>@module.Module</s>
                                </div>
                            }
                            else
                            {
                                <div style="max-width: 450px; margin-right: 10px; margin-top: 3px ">
                                    <s>@module.Module</s>
                                </div>
                            }
                        }
                        else
                        {
                            if (module.Module_status == 3) //In developement
                            {
                                <div style="color: red; max-width: 450px; margin-right: 10px; margin-top:3px">
                                    @module.Module
                                </div>
                            }
                            else
                            {
                                <div style="max-width: 450px; margin-right: 10px; margin-top: 3px ">
                                    @module.Module
                                </div>
                            }
                        }
                    }

                    if (count > 46)
                    {
                        count = 0;
                    @:</div>
                    @:<div class="col-md-4 col-sm-4" style="font-size:large; margin-top:1.5em">
                    }

                    //foreach (Dictionary<string, object> customerModule in ViewBag.Customermodules)
                    //{
                    //object systemVal, moduleVal;
                    //var success = customerModule.TryGetValue("System", out systemVal);
                    //var module = customerModule.TryGetValue("Module", out moduleVal);

                    @*if (success && ((string)systemVal).Equals(system))
                {
                    count++;
                    @moduleVal <br />
                    if (count > 35)
                    {
                        count = 0;
                        @:</div>
                        @:<div class="col-md-4 col-sm-4" style="font-size:large; margin-top:2.7em">
                    }
                }*@
                    //}
                }
                <div style="font-size:x-large; font-weight: bolder; color: red; max-width: 450px; margin-right: 10px; margin-top: 50px ">
                    Röd markering = under utveckling
                </div>
                <div style="font-size:x-large; font-weight: bolder; max-width: 450px; margin-right: 10px;">
                    Fet stil = befintliga moduler
                </div>
                <div style="font-size:x-large; font-weight: bolder; max-width: 450px; margin-right: 10px;">
                    <s>Överstruket = Utgångna moduler</s>
                </div>
            </div>
        </div>
    </div>
</body>
</html>