@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";

    @functions{

        String GetWorkingUrl(string url)
        {
            String retVal = Server.MapPath(url);
            return retVal;
        }
    }
}
<html>
<head>
    <style>
        html {
            margin: 0px;
            height: 100%;
        }

        body {
            margin: 0px;
            height: 90%;
            display: -webkit-flex;
            background-color: rgb(227,223,221);
            -webkit-flex-flow: column none;
        }

        .box {
            background-color: rgb(227,223,221);
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
        }

        #content {
            height: 90%;
            padding: 10px;
            background-color: rgb(227,223,221);
            display: -webkit-box;
        }

            #content > .group {
                margin: 10px;
                padding: 10px;
                background-color: rgb(227,223,221);
                display: -webkit-flex;
                -webkit-flex-flow: column wrap;
            }

                #content > .group .item {
                    background-color: rgb(227,223,221);
                    width: 280px;
                    font-family:Arial;
                    font-size: 13px !important;
                    line-height: 1.2;
                }

    </style>
</head>
<body style="background: rgb(227,223,221)">
    <div class="box" style="padding:20px 20px 20px 20px">
        <div style="font-size: 30px; margin-left:25px;">
            @ViewBag.Area - @ViewBag.Customer
        </div>

        <div style="position:absolute; top:25px; right:225px">
            <div class="item" style="font-size:15px; font-weight: bolder; margin-top: 10px ">
                <span style="color: red">Rött</span> = under utveckling
            </div>
        </div>

        <div id="content">
            <div class="group">
                @{
                    var currentModule = "";
                    var count = 0;
                    var countCol = 0;
                    var customerModuleList = new List<Dictionary<string, object>>();
                    if (ViewBag.Customermodules.Count > 0)
                    {
                        customerModuleList = ViewBag.Customermodules;
                    }
                }

                @foreach (TietoCRM.Models.view_Module module in ViewBag.AllModules)
                {
                    count++;

                    if (@module.Classification != currentModule)
                    {
                        //Delrubrik
                        count++;
                        <div style="font-size:16px; font-weight:bold;margin-top:10px">@module.Classification</div>
                        currentModule = module.Classification;
                    }

                    var foundModule = customerModuleList.Any(dictionary =>
                    {
                        object value = 0;
                        // Check if the dictionary contains the key "Article_number"
                        if (dictionary.TryGetValue("ArticleNumber", out value))
                        {
                            // Compare the value with the targetArticleNumber
                            return (int)value == (int)@module.Article_number;
                        }
                        return false; // The key "Article_number" doesn't exist in the dictionary
                    });

                    if (foundModule)
                    {
                        if (module.Expired.HasValue && module.Expired.Value)
                        {
                            if (module.Module_status == 3) //In developement
                            {
                                <div class="item" style="background-color: yellow; font-weight: bolder; color: red; margin-top: 3px">
                                    <s>@module.Module</s>
                                </div>
                            }
                            else
                            {
                                <div class="item" style="background-color: yellow; font-weight: bolder; margin-top: 3px">
                                    <s>@module.Module</s>
                                </div>
                            }
                        }
                        else
                        {
                            if (module.Module_status == 3) //In developement
                            {
                                <div class="item" style="background-color: yellow; font-weight: bolder; color: red; margin-top: 3px">
                                    @module.Module
                                </div>
                            }
                            else
                            {
                                <div class="item" style="background-color: yellow; font-weight: bolder; margin-top: 3px">
                                    @module.Module
                                </div>
                            }
                        }
                    }
                    else
                    {
                        if (module.Expired.HasValue && module.Expired.Value)
                        {
                            if (module.Module_status == 3) //In developement
                            {
                                <div class="item" style="color: red; margin-top: 3px">
                                    <s>@module.Module</s>
                                </div>
                            }
                            else
                            {
                                <div class="item" style="margin-top: 3px">
                                    <s>@module.Module</s>
                                </div>
                            }
                        }
                        else
                        {
                            if (module.Module_status == 3) //In developement
                            {
                                <div class="item" style="color: red; margin-top:3px">
                                    @module.Module
                                </div>
                            }
                            else
                            {
                                <div class="item" style="margin-top: 3px">
                                    @module.Module
                                </div>
                            }
                        }
                    }

                    if (count > ViewBag.MaxColRows)
                    {
                        countCol++;
                        count = 0;
                    @:</div>
                    if (countCol == 5)
                    {
                        countCol = 0;
                    @:</div>
                    @:<div id="content">
                    }
                    @:<div class="group">
                    }
                }
            </div>
        </div>
        <div style="position:absolute; bottom:15px; right:80px">
            <span id="crm-pdf-tieto-logo-com">
                <img src="@GetWorkingUrl("../Content/img/tieto-evry_beige.png")" alt="" width="150px" />
            </span>
        </div>
    </div>
</body>
</html>
