@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";

    @functions{

        String GetWorkingUrl(string url)
        {
            String retVal = Server.MapPath(url);
            return retVal;
        }
    }
}
<html>
<head>
    <style>
        html {
            margin: 0px;
            height: 102.9%;
        }

        body {
            margin: 0px;
            height: 102.9%;
            display: -webkit-flex;
            -webkit-flex-flow: column none;
        }

        .box {
            background-color: #b1b5ce;
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
        }

        #content {
            height: 102.9%;
            padding: 10px;
            background-color: #b1b5ce;
            display: -webkit-box;
        }

            #content > .group {
                height: 95%;
                margin: 10px;
                padding: 10px;
                width: 300px;
                background-color: #b1b5ce;
                display: -webkit-flex;
                -webkit-flex-flow: column wrap;
            }

                #content > .group .item {
                    background-color: #b1b5ce;
                    width: 280px;
                }

    </style>
</head>
<body style="background: #b1b5ce;">
    <div class="box" style="padding:50px 50px 50px 50px">
        <div style="font-size: 45px; margin-bottom: 20px">
            Produktportfölj @ViewBag.Area - @ViewBag.Customer
        </div>
        <div style="position:absolute; top:15px; right:80px">
            <span id="crm-pdf-tieto-logo-com">
                <img src="@GetWorkingUrl("../Content/img/TE-Lockup-RGB-BLUE.png")" alt="" width="270px" />
            </span>
        </div>

        <div id="content">
            <div class="group">
                @{
                    var currentModule = "";
                    var count = 0;
                    var countCol = 0;
                    var customerModuleList = (List<string>)ViewBag.Customermodules;
                }

                @foreach (TietoCRM.Models.view_Module module in ViewBag.AllModules)
                {
                    count++;

                    if (@module.System != currentModule)
                    {
                        count++;
                        <h2>@module.System</h2>
                        currentModule = module.System;
                    }

                    if (customerModuleList.Contains(@module.Module))
                    {
                        if (module.Expired.HasValue && module.Expired.Value)
                        {
                            if (module.Module_status == 3) //In developement
                            {
                                <div class="item" style="font-weight: bolder; color: red; margin-top: 3px">
                                    <s>@module.Module</s>
                                </div>
                            }
                            else
                            {
                                <div class="item" style="font-weight: bolder; margin-top: 3px">
                                    <s>@module.Module</s>
                                </div>
                            }
                        }
                        else
                        {
                            if (module.Module_status == 3) //In developement
                            {
                                <div class="item" style="font-weight: bolder; color: red; margin-top: 3px">
                                    @module.Module
                                </div>
                            }
                            else
                            {
                                <div class="item" style="font-weight: bolder; margin-top: 3px">
                                    @module.Module
                                </div>
                            }
                        }
                    }
                    else
                    {
                        if (module.Expired.HasValue && module.Expired.Value)
                        {
                            if (module.Module_status == 3) //In developement
                            {
                                <div class="item" style="color: red; margin-top: 3px">
                                    <s>@module.Module</s>
                                </div>
                            }
                            else
                            {
                                <div class="item" style="margin-top: 3px">
                                    <s>@module.Module</s>
                                </div>
                            }
                        }
                        else
                        {
                            if (module.Module_status == 3) //In developement
                            {
                                <div class="item" style="color: red; margin-top:3px">
                                    @module.Module
                                </div>
                            }
                            else
                            {
                                <div class="item" style="margin-top: 3px">
                                    @module.Module
                                </div>
                            }
                        }
                    }

                    if (count > 48)
                    {
                        countCol++;
                        count = 0;
                    @:</div>
                    if (countCol == 5)
                    {
                        countCol = 0;
                    @:</div>
                    @:<div id="content">
                    }
                    @:<div class="group">
                    }
                }
                <div class="item" style="font-size:15px; font-weight: bolder; margin-top: 50px ">
                    <span style="color: red">Rött</span> = under utveckling
                </div>
                <div class="item" style="font-size: 15px; font-weight: bolder; margin-right: 10px;">
                    Fet stil = befintliga moduler                    
                </div>
                <div class="item" style="font-size: 15px; font-weight: bolder; margin-right: 10px;">
                    <s>Överstruket</s> = Utgångna moduler
                </div>
            </div>
        </div>
    </div>
</body>
</html>
