@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using TietoCRM.Extensions;
<row>
    <div class="col-md-12">
        <form method="get" action="~/CustomerDivisionReport/Pdf" target="_blank" class="form-inline">
            <div class="form-group">
                <label for="crm-select-user">Representative:</label>
                <select name="user" id="crm-select-user" class="form-control selectpicker" data-live-search="true">
                    @foreach (TietoCRM.Models.view_User User in ViewBag.Users)
                    {
                        if (System.Web.HttpContext.Current.GetUser().Windows_user == User.Windows_user)
                        {
                            <option value="@User.Sign" selected>@User.Name</option>
                        }
                        else
                        {
                            <option value="@User.Sign">@User.Name</option>
                        }
                    }
                </select>
            </div>
            <button id="fetch-pdf" style="margin-top: 1.7em;" class="btn btn-default" type="button">PDF</button>
        </form>
    </div>
    <div class="col-md-12">
        <table draggable="true" id="report-table" class="table table-bordered table-hover" data-sort-name="name" data-sort-order="desc">
            <thead>
                <tr>
                    <th data-field="customer" data-sortable="true">Customer</th>
                    <th data-field="short_name" data-sortable="true">Short name</th>
                    <th data-field="customer_type" data-sortable="true">Customer Type</th>
                    <th data-field="address" data-sortable="true">Address</th>
                    <th data-field="county" data-sortable="true">County</th>
                    <th data-field="zip_code" data-sortable="true">Zip code</th>
                    <th data-field="it_manager" data-sortable="true">IT manager</th>
                    <th data-field="inhabitant_level" data-sortable="true">Population level</th>
                </tr>
            </thead>
        </table>
    </div>
    <script>
    var serverPrefix = "@Url.Content("~/")";
    @{String DataObject = "\r\n";}
    @{
        DataObject += "\t\t\t\t\t\t\t\t\t\t{ \"data\": \"" + "customer" + "\"  },\r\n";
        DataObject += "\t\t\t\t\t\t\t\t\t\t{ \"data\": \"" + "short_name" + "\"  },\r\n";
        DataObject += "\t\t\t\t\t\t\t\t\t\t{ \"data\": \"" + "customer_type" + "\"  },\r\n";
        DataObject += "\t\t\t\t\t\t\t\t\t\t{ \"data\": \"" + "address" + "\"  },\r\n";
        DataObject += "\t\t\t\t\t\t\t\t\t\t{ \"data\": \"" + "county" + "\"  },\r\n";
        DataObject += "\t\t\t\t\t\t\t\t\t\t{ \"data\": \"" + "zip_code" + "\"  },\r\n";
        DataObject += "\t\t\t\t\t\t\t\t\t\t{ \"data\": \"" + "it_manager" + "\"  },\r\n";
        DataObject += "\t\t\t\t\t\t\t\t\t\t{ \"data\": \"" + "inhabitant_level" + "\"  },\r\n";
    }
    @{DataObject = DataObject.Remove(DataObject.Length - 3);}
    var updateDataTable = function(user)
    {
        $('#report-table').DataTable({
            "destroy": true,
            "processing": true,
            "bFilter": false,
            "bPaginate": false,
            "ajax": {
                "url": serverPrefix + "CustomerDivisionReport/User/",
                "type": "POST",
                "data": {
                    "user": user,
                },
            },
            "defaultContent": "",
            "columns": [@Html.Raw(DataObject)
            ],

            "scrollX": true,

        });

    }
    $('document').ready(function () {

        $('.selectpicker').selectpicker();

        $userContainer = $("#crm-select-user");

        updateDataTable($userContainer.val());

        $userContainer.change(function () {
            updateDataTable(this.value)
        });
        $('#fetch-pdf').click(function () {
            var $dt = $('.dataTable').DataTable();
            var sortArr = $dt.order();
            var sort = "&sort=" + sortArr[0][1] + "&prop=" + $($dt.columns(sortArr[0][0]).header()).attr("data-field");
            var user = $('#crm-select-user').val();

            window.open(serverPrefix + 'CustomerDivisionReport/Pdf?user=' + user + sort, "_blank");
        })
    });


    </script>
</row>
