@{
   
    Layout = null;
    @section Styles{
        <link rel="stylesheet" media="all" href="@Url.Content("~/Content/OfferPdf.css")" />
        @*<link rel="stylesheet" media="all" href="@Server.MapPath("../Content/OfferPdf.css")" />*@
    }
    string offerNumber = Convert.ToString(ViewBag.CustomerOffer._Offer_number);
    string offerValid = Convert.ToString(ViewBag.CustomerOffer.Offer_valid);
    if (offerValid != null)
    {
        offerValid = offerValid.Replace(" 00:00:00", "");
    }

    string currentDate = DateTime.Now.Date.ToShortDateString();
    @functions{
    
        bool IsPdf()
        {
           if (Request.Url.Segments[Request.Url.Segments.Length - 1] == "Pdf")
           {
                return true;
           }
           else
           {
               return false;
           }
        }
        
        String GetWorkingUrl(string url)
        {
            if (Request.Url.Segments[Request.Url.Segments.Length - 1] == "ViewPdf")
            {
                return url;
            }
            else if (Request.Url.Segments[Request.Url.Segments.Length - 1] == "Pdf")
            {
                String retVal = Server.MapPath(url);
                return retVal;
            }
            else 
            {
                return "";
            }
        }
    }
}
@using TietoCRM.Models;
@using System.Globalization;
<div class="crm-pdf">
    @if (!IsPdf())
    {
        <div class="crm-pdf-head">
            <p><span id="crm-pdf-todays-date">@ViewBag.CustomerOffer.Offer_created.ToString("yyyy-MM-dd")</span></p>
            @if(ViewBag.UseLogo)
            {
            <p><span id="crm-pdf-tieto-logo-com">
                <img src="@GetWorkingUrl("../Content/img/TE-Lockup-RGB-BLUE.png")" alt=""/>

            </span></p><br>
            }
        </div>
    }
    <div class="crm-pdf-header-section">
        <table>
            <tr>
                <td id="crm-pdf-offer-info">
                    @if (@ViewBag.UseShortNameAsReceiver && @ViewBag.CustomerOffer.Buyer != null) //Inställning per kund
                    {
                        <div><strong>@ViewBag.CustomerOffer.Buyer</strong></div>
                    }
                    else
                    {
                        <div><strong>@ViewBag.CustomerOffer.Customer</strong></div>
                    }
                    @if (@ViewBag.CustomerOffer.Administration != "")
                    {
                        <div id="Administration">@ViewBag.CustomerOffer.Administration</div>
                    }
                    <div id="Contact_person_name">@ViewBag.CustomerOffer.Contact_person</div>
                    <a href="mailto:@ViewBag.CustomerContact.Email" id="Contact_person_email">@ViewBag.CustomerContact.Email</a>
                </td>
                <td id="crm-pdf-tieto-info">
                    @if (@ViewBag.CustomerOffer.Administration != "")
                    {
                        <br/>
                    }
                    <div>Tietoevry AB</div>
                    <div>@ViewBag.Representative.Address</div>
                    <div>@ViewBag.Representative.City</div>
                </td>
            </tr>
        </table>
        <span class="small-divider pull-right"></span>
        @*<span class="clearfix"></span>*@
        <table>
            <tr>
                <td id="crm-pdf-valid-info"><span><b>Offertnr @offerNumber. Giltig t.o.m <span id="Offer_valid">@offerValid</span></b></span></td>
                <td id="crm-pdf-representative-info">
                    <div><strong>@ViewBag.Representative.Name</strong></div>
                    <a href="mailto:@ViewBag.Representative.Email" id="Representative_email">@ViewBag.Representative.Email</a>
                    <div>@ViewBag.Representative.Mobile</div>
                </td>
            </tr>
        </table>
    </div>
    <div class="crm-pdf-offer-section">
        @try
        {
            Html.RenderPartial("_OfferHTML_OfferSection", null, new ViewDataDictionary(ViewData));
        }
        catch (Exception ex)
        {
            @Html.Raw(ex.Message);
        }
    </div>
    <div>
        <div class="crm-pdf-footer-section">
            @*<div id="crm-pdf-module-info">
                <div id="Module_info">@Html.Raw(@ViewBag.CustomerOffer.Module_info)</div>
            </div>*@
            <div id="crm-pdf-footer-info">
                <div id="Document_foot" >@Html.Raw(@ViewBag.CustomerOffer.Document_foot)</div>
            </div>
            <div id="crm-pdf-footer-regards" class="crm-print-block">
                <p>Med vänlig hälsning<br />Tietoevry AB</p>
                <div class="signature-container">
                    @{
                        String url = "../Content/img/Signatures/" + ViewBag.Representative.Sign + ".png";
                        if (System.IO.File.Exists(Request.MapPath(url)))
                        {
                            <img src="@GetWorkingUrl(url)" alt="" />
                            @*<img src="@GetWorkingUrl(url.Remove(0,1))" alt="" />*@
                        }
                        else
                        {
                            <span class="crm-signing-line"></span>
                        }
                    }
                    
                </div>
                <p>@ViewBag.Representative.Name<br />Affärsansvarig</p>
            </div>
        </div>
        @if (!IsPdf())
        {
        <div class="crm-pdf-foot">
            @if(ViewBag.UseLogo)
            {
            <div class="crm-pdf-foot-logo">
                <img src="@GetWorkingUrl("../Content/img/TE-Symbol-RGB-BLUE.png")" width="60px" alt="tieto-logo" />
            </div>
            }
        </div>
        }   
    </div>
</div>
