@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    DateTime Start;
    DateTime Stop;

    try
    {
        if(Request.Params["start"] != null || Request.Params["stop"] != null)
        {
            Start = Convert.ToDateTime(Request.Params["start"]);
            Stop = Convert.ToDateTime(Request.Params["stop"]);
        }
        else
        {
            Start = DateTime.Now.AddMonths(-1);
            Stop = DateTime.Now;
        }

    }
    catch(Exception ignore)
    {
        Start = DateTime.Now.AddMonths(-1);
        Stop = DateTime.Now;
    }
}
@using TietoCRM.Extensions;


<row>
    <div class="col-md-12">
        <form method="get" action="~/CustomerProductReport/Pdf" target="_blank" class="form-inline">
            <div class="form-group">
                <label for="start-date">Start date:</label>
                <input type="date"
                       class="form-control"
                       name="start-date"
                       id="start-date"
                       value="@Start.ToString("yyyy-MM-dd")"
                       placeholder="Start date"
                       >
            </div>
            <div class="form-group">
                <label for="stop-date">Stop date:</label>
                <input type="date"
                       class="form-control"
                       name="stop-date"
                       id="stop-date"
                       value="@Stop.ToString("yyyy-MM-dd")"
                       placeholder="Stop date"
                       >
            </div>
            <button id="fetch-data" class="btn btn-default" type="button">Search</button>
            <button id="fetch-pdf" class="btn btn-default" type="button">PDF</button>
        </form>
    </div>
    <div class="col-md-12">
        <table draggable="true" id="report-table" class="table table-bordered table-hover sold-products" data-sort-name="name" data-sort-order="desc">
            <thead>
                <tr>
                       <th data-field="Count" data-sortable="true">Amount</th>
           
                    @foreach (System.Reflection.PropertyInfo PropertyInfo in ViewBag.Properties)
                    {
                      
                        String PropertyName = PropertyInfo.Name.Replace("_", " ");
                        
                        if (ViewBag.Printable.Contains(PropertyInfo.Name))
                        {
                            <th data-field="@PropertyInfo.Name" data-sortable="true">@PropertyName</th>
                        }
                    }
                </tr>
            </thead>
        </table>
    </div>
    <script>
        @{
            String DataObject = "\r\n";
            DataObject += "\t\t\t\t\t\t\t\t\t\t{ \"data\": \"Count\"  },\r\n";
        }
        @foreach (System.Reflection.PropertyInfo PropertyInfo in ViewBag.Properties)
        {
            String PropertyName = PropertyInfo.Name.Replace("_", " ");
            if (ViewBag.Printable.Contains(PropertyInfo.Name))
            {
                DataObject += "\t\t\t\t\t\t\t\t\t\t{ \"data\": \"" + @PropertyInfo.Name + "\"  },\r\n";
            }
        }
        @{    
            DataObject = DataObject.Remove(DataObject.Length - 3);
        }
       
        var updateDataTable = function()
        {
            $('#report-table').DataTable({
                "destroy": true,
                "processing": true,
                "bFilter": true,
                "bPaginate": false,
                "ajax": {
                    "url": "/ContractSoldProductsReport/FilteredModules/",
                    "type": "POST",
                    "data": {
                        "start": $("#start-date").val(),
                        "stop": $("#stop-date").val(),
                    }
                },
                "defaultContent": "",
                "columns": [@Html.Raw(DataObject)
                ],
                "order": [[ 0, 'desc' ]],

                "scrollX": true,

            });
            

        }
        
        // Check if browser is using webkit
        var webkit = get_browser() == "Chrome" ||
            /iPad|iPhone|iPod/.test(navigator.userAgent) ||
            get_browser() == "Opera";

        function updateQueryStringParameter(uri, key, value) {
            var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
            var separator = uri.indexOf('?') !== -1 ? "&" : "?";
            if (uri.match(re)) {
                return uri.replace(re, '$1' + key + "=" + value + '$2');
            }
            else {
                return uri + separator + key + "=" + value;
            }
        }
        

        $(document).ready(function () {
            var $startDate = $("#start-date");
            var $stopDate = $("#stop-date");

            $('#fetch-data').click(function () {
                var uri = updateQueryStringParameter(updateQueryStringParameter('', "start", $startDate.val()), "stop", $stopDate.val());
                console.log(window.location.href.split('?')[0] + uri);
                history.pushState(null, null, uri);
               
                updateDataTable();
            })

            $('#fetch-pdf').click(function () {
                var start = $startDate.val();
                var stop = $stopDate.val();
                var $dt = $('.dataTable').DataTable();
                var sortArr = $dt.order();
                var sort = "&sort=" + sortArr[0][1] + "&prop=" + $($dt.columns(sortArr[0][0]).header()).attr("data-field");

                window.open('/ContractSoldProductsReport/Pdf?start=' + start + '&stop=' + stop + sort, "_blank");
            })

            updateDataTable();
           // $('#report-table').fnSort([[0, 'asc']]);
            
            if (!webkit) {
                $startDate.datepicker({ dateFormat: 'yy-mm-dd' });
                $stopDate.datepicker({ dateFormat: 'yy-mm-dd' });
            }
        });
    </script>
</row>
