@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using TietoCRM.Extensions;
<row>
    <div class="col-md-12">
        <form id="customer-select-form" method="get" action="~/CustomerProductReport/Pdf" target="_blank" class="form-inline">
            <div class="form-group">
                <label for="crm-select-user">Representative:</label>
                <select name="user" id="crm-select-user" class="form-control selectpicker" data-live-search="true">
                    @foreach (TietoCRM.Models.view_User User in ViewBag.Users)
                    {
                        if (System.Web.HttpContext.Current.GetUser().Windows_user == User.Windows_user)
                        {
                            <option value="@User.Sign" selected>@User.Name</option>
                        }
                        else
                        {
                            <option value="@User.Sign">@User.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="crm-select-customer">Customer:</label>
                <select name="customer" id="crm-select-customer" class="form-control selectpicker" data-live-search="true">
                    @foreach (String Customer in ViewBag.CustomerNames)
                    {
                        <option value="@Customer">@Customer</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <div class="checkbox" style="margin-top: 1.7em; margin-left: 0.5em; margin-right:0.5em;">
                    <label>
                        <input type="checkbox" id="show-classification-column"> Show Classification (Pdf)
                    </label>
                    <br>
                    <label>
                        <input type="checkbox" id="show-contract-id-column"> Show Contract id (Pdf)
                    </label>
                </div>
            </div>
            <button id="fetch-pdf" style="margin-top: 1.7em;" class="btn btn-default" type="button">PDF</button>
            <div class="form-group">
                <div class="checkbox" style="margin-top: 1.7em; margin-left: 0.5em; margin-right:0.5em;">
                    <label>
                        <input type="checkbox" id="desc"> Show module description
                    </label>
                    <br>
                    <label>
                        <input type="checkbox" id="expired"> Hide Expired modules
                    </label>
                </div>
            </div>
            <button style="margin-top: 1.7em; margin-left: 10px;" title="Export as CSV" class="btn btn-default" type="button" id="export-button">Export</button>
            <button id="export-excel" style="margin-top: 1.7em;" class="btn" type="button">Excel</button>
        </form>
    </div>
    <div class="col-md-12">
        <table draggable="true" id="report-table" class="table table-bordered table-hover" data-sort-name="name" data-sort-order="desc">
            <thead>
                <tr>
                    @foreach (System.Reflection.PropertyInfo PropertyInfo in ViewBag.Properties)
                    {
                        String PropertyName = PropertyInfo.Name.Replace("_", " ");
                        if (!ViewBag.IgnoredProperties.Contains(PropertyInfo.Name))
                        {
                            <th data-field="@PropertyInfo.Name" data-sortable="true">@PropertyName</th>
                        }
                    }
                </tr>
            </thead>
        </table>
    </div>
<script>
    var serverPrefix = "@Url.Content("~/")";
    @{String DataObject = "\r\n";}
    @foreach (System.Reflection.PropertyInfo PropertyInfo in ViewBag.Properties)
    {
        String PropertyName = PropertyInfo.Name.Replace("_", " ");
        if (!ViewBag.IgnoredProperties.Contains(PropertyInfo.Name))
        {
            DataObject += "\t\t\t\t\t\t\t\t\t\t{ \"data\": \"" + @PropertyInfo.Name + "\"  },\r\n";
        }
    }
    @{DataObject = DataObject.Remove(DataObject.Length - 3);}
    var updateDataTable = function(customer)
    {
        $('#report-table').DataTable({
            "destroy": true,
            "processing": true,
            "bFilter": false,
            "bPaginate": false,
            //"ajax": "/CustomerProductReport/CustomerData/",
            "ajax": {
                "url": serverPrefix + "CustomerProductReport/Customer/",
                "type": "POST",
                "data": {
                    "customer": customer,
                    "withoutExpired": $('#expired').is(':checked')
                }
            },
            "defaultContent": "",
            "order": [[3, 'asc']], //3 is column order in dt, in this case "System"
            //"order": [[2, 'asc'], [3, 'asc'], [1, 'asc']],
            "columns": [@Html.Raw(DataObject)
            ],

            "scrollX": true,

        });

    }
    var getData = function (target, $container, value) {
        $.ajax({
            "url": serverPrefix + "CustomerProductReport/" + target,
            "type": "POST",
            "data": {
                "key": value
            },
            "success": function (data) {
                if (typeof data != "undefined") {

                    $container.empty();
                    var contractIDs = JSON.parse(data);
                    for (var i = 0; i < contractIDs.length; i++) {
                        $container.append("<option value='" + contractIDs[i] + "'>" + contractIDs[i] + "</option>")
                    }
                    if(target == "CustomerNames")
                    {
                        updateDataTable($("#crm-select-customer").val());
                    }
                    $('.selectpicker').selectpicker("refresh");
                }
            }
        });
    }
    $('document').ready(function () {

        $('.selectpicker').selectpicker();

        $userContainer = $("#crm-select-user");
        $customerContainer = $("#crm-select-customer");

        $button = $("#export-button");
        $button.on("click", function () {
            window.open('ExportAsCsv?customer=' + encodeURI($customerContainer.val()), '_blank');
        });

        updateDataTable($customerContainer.val());

        $userContainer.change(function () {
            getData("CustomerNames", $customerContainer, this.value);

        });
        $customerContainer.change(function () {
            updateDataTable(this.value)
        });
        $('#expired').click(function () {
            updateDataTable($customerContainer.val())
        });

        $('#fetch-pdf').click(function () {
            var customer = $customerContainer.val();
            var user = $userContainer.val();
            var showContractIdCol = $('#show-contract-id-column').is(':checked') ? true : false;
            var showClassificationCol = $('#show-classification-column').is(':checked') ? true : false;
            var $dt = $('.dataTable').DataTable();
            var sortArr = $dt.order();
            var sort = "&sort=" + sortArr[0][1] + "&prop=" + $($dt.columns(sortArr[0][0]).header()).attr("data-field");
            var exp = "Ja"
            if ($('#expired').is(':checked')) {
                exp = "Nej"
            }

            if ($('#desc').is(':checked')) {
                window.open(serverPrefix + 'CustomerProductReport/Pdf?customer=' + customer + '&expired=' + exp + '&user=' + user + sort + '&showDesc=1' + '&contractIdCol=' + showContractIdCol + '&classificationCol=' + showClassificationCol, "_blank");
            }
            else {
                window.open(serverPrefix + 'CustomerProductReport/Pdf?customer=' + customer + '&expired=' + exp + '&user=' + user + sort + '&contractIdCol=' + showContractIdCol + '&classificationCol=' + showClassificationCol, "_blank");
            }
        })
        $('#export-excel').click(function () {
            var customer = $customerContainer.val();
            var user = $userContainer.val();
            var exp = "Ja"
            var $dt = $('.dataTable').DataTable();
            var sortArr = $dt.order();
            var sort = "&sort=" + sortArr[0][1] + "&prop=" + $($dt.columns(sortArr[0][0]).header()).attr("data-field");
            if ($('#expired').is(':checked')) {
                exp = "Nej"
            }
            window.open(serverPrefix + 'CustomerProductReport/ExportExcel?customer=' + customer + '&expired=' + exp + '&user=' + user + sort, "_parent").focus();
        })
    });

</script>
</row>
