@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
    bool showDesc = false;
    if (Request.Params["showDesc"] != null)
    {
        if (Request.Params["showDesc"] == "1")
        {
            showDesc = true;
        }
    }
}
@using TietoCRM.Models;
@{
    int contractCount = ((IEnumerable<dynamic>)ViewBag.MainContracts).Count() - 1;
    int loopCount = 0;
    string pagebreak = "";
}
@foreach (view_Contract mainContract in ViewBag.MainContracts)
{
    loopCount = 0;
    if (contractCount > 0)
    {
        pagebreak = "page-break-after:always";
    }
    else
    {
        pagebreak = "page-break-after:avoid";
    }

    <div style=@pagebreak>
        <table width="100%">
            <tr>
                <td>
                    <div style="font-size:16px">
                        <strong>@mainContract.Customer</strong>
                    </div>
                </td>
                <td>
                    <div style="font-size:12px; text-align:right">
                        <strong>Avtalsbeteckning: </strong>@mainContract.Main_contract_id
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="font-size:12px">
                        @DateTime.Now.ToShortDateString()
                    </div>
                </td>
                <td>
                    <div style="font-size:12px; text-align:right">
                        <strong>Avtalsperiod: </strong>
                        @if (mainContract.Valid_from != null)
                        {
                            @(mainContract.Valid_from.Value.ToShortDateString() + " ");
                        }
                        -
                        @if (@mainContract.Valid_through != null)
                        {
                            @(" " + mainContract.Valid_through.Value.ToShortDateString());
                        }
                    </div>
                </td>
            </tr>
        </table>
        <br />
        <br />

        <div style="font-size:25px">
            Modulförteckning
        </div>
        <br />
        @foreach (String pName in mainContract._OrderedSystemNames)
        {
            loopCount++;
            var rubrik = pName.Split(new char[] { '#' })[1];
            pagebreak = "";
            if (loopCount > 1)
            {
                pagebreak = "page-break-inside:avoid";
            }

            <div class="crm-print-block" style=@pagebreak>

                <h2>@rubrik</h2>
                <table width="100%" class="table table-striped table-bordered" style="font-family: Verdana, Geneva, sans-serif !important;">
                    @foreach (System.Reflection.PropertyInfo PropertyInfo in ViewBag.Properties)
                    {
                        if (PropertyInfo.Name == "Article_number")
                        {
                            <th width="8%;" style="white-space:nowrap">Artikelnr</th>
                        }
                        if (PropertyInfo.Name == "Module")
                        {
                            <th width="65%" style="white-space:nowrap">Modul</th>
                        }
                        if (PropertyInfo.Name == "Classification" && ViewBag.ShowClassificationColumn)
                        {
                            <th width="8%;" style="white-space:nowrap">Indelning</th>
                        }
                        if (PropertyInfo.Name == "Contract_id" && ViewBag.ShowContractIdColumn)
                        {
                            <th style="white-space:nowrap">Kontraktsnr</th>
                        }
                    }
                    @foreach (Dictionary<String, object> CPR in mainContract._CustomerProductRowsSorted)
                    {
                        if ((String)CPR["System"] == rubrik && (String)CPR["Status"] == "Giltigt")
                        {
                            <tr>
                                @foreach (KeyValuePair<String, object> dic in CPR)
                                {
                                    if (!ViewBag.IgnoredPropertiesExtended.Contains(dic.Key))
                                    {
                                        if ((String)dic.Key == "Module")
                                        {
                                            if (String.IsNullOrEmpty((String)CPR["Alias"]) || (bool)(CPR["Read_name_from_module"]))
                                            {
                                                <td>
                                                    <strong>@CPR["Module"]</strong>
                                                    @if (showDesc)
                                                    {
                                                        foreach (view_Module module in mainContract._MatchedModules)
                                                        {
                                                            if (module.Article_number.ToString() == CPR["Article_number"].ToString())
                                                            {
                                                                <div>@module.Description</div>
                                                            }
                                                        }
                                                    }

                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    <strong>@CPR["Alias"]</strong>
                                                    @if (showDesc)
                                                    {
                                                        foreach (view_Module module in mainContract._MatchedModules)
                                                        {
                                                            if (module.Article_number.ToString() == CPR["Article_number"].ToString())
                                                            {
                                                                <div>@module.Description</div>
                                                            }
                                                        }
                                                    }
                                                </td>
                                            }
                                        }
                                        else if (dic.Key == "Article_number")
                                        {
                                            if (dic.Value != null)
                                            {
                                                <td>@dic.Value</td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                        }
                                        else if (dic.Key == "Classification" && ViewBag.ShowClassificationColumn)
                                        {
                                            if (dic.Value != null)
                                            {
                                                <td>@dic.Value</td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                        }
                                        else if (dic.Key == "Contract_id" && ViewBag.ShowContractIdColumn)
                                        {
                                            if (dic.Value != null)
                                            {
                                                <td>@dic.Value</td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                        }
                                    }
                                }
                            </tr>
                        }
                        else
                        {
                            // break;
                        }
                    }

                </table>
            </div>
        }
    </div>
    contractCount--;
}

