@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
    bool showDesc = false;
    if (Request.Params["showDesc"] != null)
    {
        if (Request.Params["showDesc"] == "1")
        {
            showDesc = true;
        }
    }
}
@using TietoCRM.Models;
@foreach (String pName in ViewBag.SystemNames)
{
    var rubrik = pName.Split(new char[] { '#' })[1];
    <div class="crm-print-block">
        <h1>@rubrik</h1>
        <table class="table table-striped table-bordered cpr-table">
            @foreach (System.Reflection.PropertyInfo PropertyInfo in ViewBag.Properties)
            {
                String PropertyName = PropertyInfo.Name.Replace("_", " ");
                if (!ViewBag.IgnoredPropertiesExtended.Contains(PropertyInfo.Name))
                {
                    <th>@PropertyName</th>
                }
            }
            @foreach (Dictionary<String, object> CPR in ViewBag.CustomerProductRows)
            {
                if ((String)CPR["System"] == rubrik && (String)CPR["Status"] == "Giltigt")
                {
                    <tr class="">
                        @foreach (KeyValuePair<String, object> dic in CPR)
                        {
                            if (!ViewBag.IgnoredPropertiesExtended.Contains(dic.Key))
                            {
                                if (dic.Key == "Valid_through")
                                {
                                    if (dic.Value != null)
                                    {
                                        <td>@((Convert.ToDateTime(dic.Value)).ToString("yyyy-MM-dd"))</td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                }
                                else if ((String)dic.Key == "Module")
                                {
                                    if (String.IsNullOrEmpty((String)CPR["Alias"]))
                                    {
                                        <td>
                                            <strong>@CPR["Module"]</strong>
                                                @if (showDesc)
                                                {
                                                    foreach (view_Module module in ViewBag.matchedModules)
                                                    {
                                                        if (module.Article_number.ToString() == CPR["Article_number"].ToString())
                                                        {
                                                            <div>@module.Description &ensp;</div>
                                                        }
                                                    }
                                                }
                                                
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <strong>@CPR["Alias"]</strong>
                                                @if (showDesc)
                                                {
                                                    foreach (view_Module module in ViewBag.matchedModules)
                                                    {
                                                        if (module.Article_number.ToString() == CPR["Article_number"].ToString())
                                                        {
                                                            <div>@module.Description &ensp;</div>
                                                        }
                                                    }
                                                }
                                        </td>
                                    }

                                }
                                else
                                {
                                    if (dic.Value != null)
                                    {
                                        <td>@dic.Value</td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }

                                }
                            }
                        }
                    </tr>
                }
                else
                {
                    // break;
                }
            }

        </table>
    </div>
}


