@using TietoCRM.Models;
@using System.Text.RegularExpressions;
@{

    Layout = null;
}
@functions{
    bool containsHtml(String str)
    {
        if (String.IsNullOrEmpty(str))
            return false;
        Regex re = new Regex(@"<(\s*[(\/?)\w+]*)");
        if (re.IsMatch(str))
            return true;
        else
            return false;
    }
}
@if (!ViewBag.CustomerContract.Is(ContractType.MainContract) && ViewBag.Area == "IFO")
{
    if (!String.IsNullOrEmpty(ViewBag.ContractText.Page_head))
    {
        <div id="template-Page_head">@Html.Raw(ViewBag.ContractText.Page_head)</div>
    }
}
<table>
    <tr>
        <td class="crm-table-title">Kund</td>
        <td class="crm-table-title">Leverantör</td>
    </tr>
    <tr>
        <td>@ViewBag.ContractHead.Buyer</td>
        <td>@ViewBag.Organisation.CompanyName</td>
    </tr>
    <tr>
        <td class="crm-table-title">Referens</td>
        <td class="crm-table-title">Referens</td>
    </tr>
    <tr>
        <td>@ViewBag.ContractHead.Contact_person</td>
        <td>@ViewBag.Representative.Name</td>
    </tr>
    <tr>
        <td class="crm-table-title">Adress</td>
        <td class="crm-table-title">Adress</td>
    </tr>
    <tr>
        <td>@ViewBag.ContractHead.Administration</td>
        <td></td>
    </tr>
    <tr>
        <td>@ViewBag.ContractHead.Address</td>
        <td>@ViewBag.Representative.Address</td>
    </tr>
    <tr>
        <td>@ViewBag.ContractHead.Zip_code @ViewBag.ContractHead.City</td>
        <td>@ViewBag.Representative.City</td>
    </tr>
    <tr>
        <td class="crm-table-title">Organisationsnr.</td>
        <td class="crm-table-title">Organisationsnr.</td>
    </tr>
    <tr>
        <td>@ViewBag.ContractHead.Corporate_identity_number</td>
        <td>@ViewBag.Organisation.OrgNo</td>
    </tr>
</table>    
