@using TietoCRM.Models;
@using System.Globalization;
@{
    Layout = null;
}

<!-- Print Products/Modules/Articles -->
@PrintListContent(ViewBag.ArticleAndServiceDictionary, ViewBag.RemArticles, ViewBag.OldArticles)


@helper PrintListContent(List<KeyValuePair<String, List<dynamic>>> list, List<dynamic> remList, List<dynamic> oldList)
{
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Module Info</h4>
    </div>
    <div id="moduleInfo-modal" class="modal-body">
        <form id="module-info-form" class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-12">
                    @{
                        int count = 1;
                    }
                    <table border="0" id="modules" class="table table-hover" style="width: 100%; border-top: solid; border-top-width: thin; border-top-color: gainsboro;">
                        @foreach (KeyValuePair<String, List<dynamic>> system in list)
                        {
                            foreach (var contractInfo in system.Value)
                            {
                                <tr style="width:80%; border-bottom: solid; border-bottom-width: thin; border-bottom-color: gainsboro;">
                                    <th style="vertical-align:middle" width="10%">@contractInfo.Article_number</th>
                                    <th style="vertical-align:middle">@contractInfo.System</th>
                                    <th style="vertical-align:middle">@Html.Raw(contractInfo.Module)</th>
                                    <th>
                                        <button id="default-text-@(count)"
                                                data-id="@contractInfo.Article_number"
                                                data-type="@contractInfo.ModuleType"
                                                data-index="@(count)"
                                                onclick="getModuleInfoDefaultText(this)"
                                                type="button"
                                                class="btn btn-primary module-info-default-text-button">
                                            Get text
                                        </button>
                                        <button type="button"
                                                data-index="@(count)"
                                                onclick="removeDefaultText(this)"
                                                class="btn module-info-default-text-button-red">
                                            Clear text
                                        </button>
                                    </th>
                                </tr>
                                <tr style="background-color:lightgrey">
                                    <td colspan="4">
                                        <div class="row">
                                            <div class="col-sm-4" style="margin:3px; margin-bottom:5px">
                                                <label for="module-info-text@(count)" class="control-label">Module and Services info</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <textarea id="module-info-text@(count)" name="module-info-text@(count)" class="form-control" rows="6">@contractInfo.ContractDescription</textarea>
                                                <input type="hidden" id="typeId@(count)" name="typeId@(count)" value="@contractInfo.Id">
                                                <input type="hidden" id="moduleId@(count)" name="moduleId@(count)" value="@contractInfo.Article_number">
                                                <input type="hidden" id="moduleTextId@(count)" name="moduleTextId@(count)" value="@contractInfo.ModuleTextId">
                                                <input type="hidden" id="moduleType@(count)" name="moduleType@(count)" value="@contractInfo.ModuleType">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                count++;
                            }
                        }
                        @foreach (var contractInfo in remList)
                        {
                            <tr style="width:80%; border-bottom: solid; border-bottom-width: thin; border-bottom-color: gainsboro;">
                                <th style="vertical-align:middle" width="10%">@contractInfo.Article_number</th>
                                <th style="vertical-align:middle">@contractInfo.System</th>
                                <th style="vertical-align:middle">@Html.Raw(contractInfo.Module)</th>
                                <th>
                                    <button id="default-text-@(count)"
                                            data-id="@contractInfo.Article_number"
                                            data-type="@contractInfo.ModuleType"
                                            data-index="@(count)"
                                            onclick="getModuleInfoDefaultText(this)"
                                            type="button"
                                            class="btn btn-primary module-info-default-text-button">
                                        Get text
                                    </button>
                                    <button type="button"
                                            data-index="@(count)"
                                            onclick="removeDefaultText(this)"
                                            class="btn module-info-default-text-button-red">
                                        Clear text
                                    </button>
                                </th>
                            </tr>
                            <tr style="background-color:lightgrey">
                                <td colspan="4">
                                    <div class="row">
                                        <div class="col-sm-4" style="margin:3px; margin-bottom:5px">
                                            <label for="module-info-text@(count)" class="control-label">Module and Services info</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <textarea id="module-info-text@(count)" name="module-info-text@(count)" class="form-control" rows="6">@contractInfo.ContractDescription</textarea>
                                            <input type="hidden" id="typeId@(count)" name="typeId@(count)" value="@contractInfo.Id">
                                            <input type="hidden" id="moduleId@(count)" name="moduleId@(count)" value="@contractInfo.Article_number">
                                            <input type="hidden" id="moduleTextId@(count)" name="moduleTextId@(count)" value="@contractInfo.ModuleTextId">
                                            <input type="hidden" id="moduleType@(count)" name="moduleType@(count)" value="@contractInfo.ModuleType">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            count++;
                        }
                        @foreach (var contractInfo in oldList)
                        {
                            <tr style="width:80%; border-bottom: solid; border-bottom-width: thin; border-bottom-color: gainsboro;">
                                <th style="vertical-align:middle" width="10%">@contractInfo.Article_number</th>
                                <th style="vertical-align:middle">@contractInfo.System</th>
                                <th style="vertical-align:middle">@Html.Raw(contractInfo.Module)</th>
                                <th>
                                    <button id="default-text-@(count)"
                                            data-id="@contractInfo.Article_number"
                                            data-type="@contractInfo.ModuleType"
                                            data-index="@(count)"
                                            onclick="getModuleInfoDefaultText(this)"
                                            type="button"
                                            class="btn btn-primary module-info-default-text-button">
                                        Get text
                                    </button>
                                    <button type="button"
                                            data-index="@(count)"
                                            onclick="removeDefaultText(this)"
                                            class="btn module-info-default-text-button-red">
                                        Clear text
                                    </button>
                                </th>
                            </tr>
                            <tr style="background-color:lightgrey">
                                <td colspan="4">
                                    <div class="row">
                                        <div class="col-sm-4" style="margin:3px; margin-bottom:5px">
                                            <label for="module-info-text@(count)" class="control-label">Module and Services info</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <textarea id="module-info-text@(count)" name="module-info-text@(count)" class="form-control" rows="6">@contractInfo.ContractDescription</textarea>
                                            <input type="hidden" id="typeId@(count)" name="typeId@(count)" value="@contractInfo.Id">
                                            <input type="hidden" id="moduleId@(count)" name="moduleId@(count)" value="@contractInfo.Article_number">
                                            <input type="hidden" id="moduleTextId@(count)" name="moduleTextId@(count)" value="@contractInfo.ModuleTextId">
                                            <input type="hidden" id="moduleType@(count)" name="moduleType@(count)" value="@contractInfo.ModuleType">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            count++;
                        }
                    </table>
                    <input type="hidden" id="moduleCount" name="moduleCount" value="@count">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="save-module-info-changes" @{ if (list.Count == 0 && remList.Count == 0) { @Html.Raw("disabled='disabled' ")  ; } } class="btn btn-primary">Save</button>
    </div>
}

<script>
    $("#modules tr:even").addClass("even");
    $("#modules tr:not(.even)").hide();
    $("#modules tr:first-child").show();

    $("#modules tr.even").click(function () {
        var trToToggle = $(this).next("tr");
        $("#modules tr:not(.even)").not(trToToggle).hide();
        $(trToToggle).slideToggle("fast");
        $(this).find(".arrow").toggleClass("up");
    });

    $("#save-module-info-changes").click(function () {
        if ($("#moduleInfo-modal form").valid()) {
            var updateData = {};
            var $ttForm = $("#module-info-form");
            var $inputs = $ttForm.find('input, textarea');
            console.log("Spara");
            var tinyMCEInputs = [
                "module-info-text"
            ];
            $inputs.each(function () {
                var $formInput = $(this);
                var inputProp = $formInput.attr("name");
                if(inputProp != "Sign" && inputProp != "Template_number" && inputProp != "SSMA_timestamp" && typeof inputProp != 'undefined'){
                    //console.log($formInput.attr("value"),$formInput.val());
                    // if input is a TinyMCE field extract the content.
                    var inputPropOrig = inputProp;
                    if (inputProp.startsWith("module-info-text")) {
                        inputProp = inputProp.substr(0, 16);
                    }
                    if($.inArray(inputProp, tinyMCEInputs) >= 0){

                        updateData[inputPropOrig] = tinymce.get($formInput.attr("id")).getContent()
                    }
                    else{
                        updateData[inputPropOrig] = $formInput.val();
                    }

                }

            });

            //updateData["primaryKey"] = contractNumber;
            var updateDataArr = [];
            updateDataArr.push(updateData);


            $.ajax({
                "url": serverPrefix + "CustomerContract/SaveModuleInfoTexts/",
                "type": "POST",
                "data": {
                    "object": JSON.stringify(updateDataArr)
                },
                dataType: 'text',
                // iOS 6 has a dreadful bug where POST requests are not sent to the
                // server if they are in the cache.
                headers: { 'Cache-Control': 'no-cache' }, // Apple!
                "success": function (data) {
                    if (data > 0) {
                        $.ajax({
                            "url": serverPrefix + "CustomerContract/ViewPdf?contract-id=" + contractId + "&customer=" + customerName + "&contract-section=_ModuleSection",
                            "type": "GET",
                            "success": function (data) {
                                $(".crm-pdf-module-section").html(data);
                                triggerAlert("Successfully saved module texts", "success");
                                $("#moduleInfoModal").modal("hide");
                            }
                        });
                    }

                    //// Update current values
                    //currentOfferValues = updateData;
                    //// Loop through "HTML PDF" and update fields
                    //$.each(updateData, function(key, val){
                    //    var $updateTarget = $("#" + key);
                    //    if($updateTarget.length > 0){
                    //        $updateTarget.html(val);
                    //    }
                    //})
                }
            })
        };
    });

    var getModuleInfoDefaultText = function (element) {

        $button = $(element);
        var id = $button.data("id");
        var type = $button.data("type");
        var index = $button.data("index");
        $.ajax({
            "url": serverPrefix + "CustomerContract/GetContractDescriptionDefaultText/",
            "type": "POST",
            "data": {
                "id": id,
                "type": type
            },
            dataType: 'text',
            headers: { 'Cache-Control': 'no-cache' },
            "success": function (data) {
                if (data != "-1") {
                    //Update correct editor with returning text...
                    tinymce.get("module-info-text" + index).setContent(data);
                    if (element.style.border == "3px solid rgb(231, 76, 60)") {
                        element.style.border = "1px solid #0065a0";
                    } else {
                        element.style.border = "3px solid rgb(231, 76, 60)";
                    }
                }
            }
        });
        event.stopPropagation();
    }

    var removeDefaultText = function (element) {
        $button = $(element);
        var index = $button.data("index");
        tinymce.get("module-info-text" + index).setContent('');

        if (element.style.border == "3px solid rgb(0, 101, 160)") {
            element.style.border = "1px solid #e74c3c";
        } else {
            element.style.border = "3px solid rgb(0, 101, 160)";
        }

        event.stopPropagation();
    }

</script>
