@{
    Layout = null;
    
    // CultureInfo for swedish currency print out 
    CultureInfo se = CultureInfo.CreateSpecificCulture("sv-SE");
    bool isMainContract = ViewBag.CustomerContract.Is(ContractType.MainContract);
}
@using TietoCRM.Models;
@using System.Globalization;

@*-------------------------------------
Inledning av modulsektionen
-------------------------------------*@

@if(ViewBag.Articles.Count > 0)
{
@*-------------------------------------
Produkter
-------------------------------------*@
<div id="crm-pdf-module-rows" class="">
    @{
        decimal discountsMP = 0;
        decimal discountsLP = 0;
        decimal discountsLM = 0;
        decimal discountsMM = 0;
        decimal ProductLicenseTotal = 0;
        decimal ProductMaintenanceTotal = 0;

        String previousSystem = "";
        String previousPriceType = "";
    }
    @foreach (dynamic article in ViewBag.Articles)
    {
        if (previousPriceType != article.Price_type)
        {
            previousPriceType = article.Price_type;
            <div class="crm-pdf-subheader_1" id="crm-pdf-module-rows-title">
                <table>
                    <tr>
                        <td>Produkter</td>
                        <td></td>
                        <td>Engångsbelopp</td>
                        <td>@article.Price_type</td>
                    </tr>
                </table>
            </div>
            <div class="large-divider"></div>
        }
        String License;
        String Maintenance;
        // Format currency
        if (article.Discount != 1 ||article.Discount_type == 0)
        {
            License = string.Format(se, "{0:C2}", article.License).Replace(".", " ");
            Maintenance = string.Format(se, "{0:C2}", article.Maintenance).Replace(".", " ");
            if(article.Discount == 1)
            {
                discountsLM += article.License;
                discountsMM += article.Maintenance;
            }
            else
            {
                ProductLicenseTotal += Convert.ToDecimal(article.License);
                ProductMaintenanceTotal += Convert.ToDecimal(article.Maintenance);
            }

        }
        else
        {
            discountsLP += article.License;
            discountsMP += article.Maintenance;
            License = (int)article.License + "%";
            Maintenance = (int)article.Maintenance + "%";
        }
        if (previousSystem != article.System)
        {
            <div class="crm-pdf-subrows_1">
                <table>
                    <tr>
                        <td>@article.System</td>
                    </tr>
                </table>
            </div>
        }
        <div class="crm-pdf-subrows_2">
            <table>
                <tr>
                    <td>@article.Classification</td>
                    <td>@article.Article_number</td>
                    <td>@article.Module</td>
                    <td>@License</td>
                    <td>@Maintenance</td>
                </tr>
            </table>
        </div>
        previousSystem = article.System;
    }
    @{
        if (discountsMP < -100)
        {
            discountsMP = -100;
        }
        if (discountsLP < -100)
        {
            discountsLP = -100;
        }

        ProductLicenseTotal += discountsLM;
        ProductMaintenanceTotal += discountsMM;

        // Format currency for total sums
        string ProductLicenseTotalFormated = string.Format(se, "{0:C2}", ProductLicenseTotal + ProductLicenseTotal * (decimal)discountsLP / 100).Replace(".", " ");
        string ProductMaintenanceTotalFormated = string.Format(se, "{0:C2}", ProductMaintenanceTotal + ProductMaintenanceTotal * (decimal)discountsMP / 100).Replace(".", " ");
    }
    <span class="large-divider"></span>
    <div class="crm-pdf-subsum_1">
        <table>
            <tr>
                <td></td>
                <td>Summa Produkter:</td>
                <td>@ProductLicenseTotalFormated</td>
                <td>@ProductMaintenanceTotalFormated</td>
            </tr>
        </table>
    </div>
</div>
}
@if (isMainContract && ViewBag.Options.Count > 0)
{
@*-------------------------------------
Main contract and Options
-------------------------------------*@
    <div id="crm-pdf-option-rows" class="crm-print-block">
        <div class="crm-pdf-subheader_1" id="crm-pdf-module-rows-title">
            <table>
                <tr>
                    <td>Optioner</td>
                    <td></td>
                    <td>Engångsbelopp</td>
                    <td>Underhåll/mån</td>
                </tr>
            </table>
        </div>
        <div class="large-divider"></div>
        @{
            decimal OptionLicenseTotal = 0;
            decimal OptionMaintenanceTotal = 0;

            String previousSystem = "";
        }
        @foreach (dynamic option in ViewBag.Options)
        {
            // Calculate total sums
            OptionLicenseTotal += Convert.ToDecimal(option.License);
            OptionMaintenanceTotal += Convert.ToDecimal(option.Maintenance);

            // Format currency
            String License = string.Format(se, "{0:C2}", option.License).Replace(".", " ");
            String Maintenance = string.Format(se, "{0:C2}", option.Maintenance).Replace(".", " ");
            if (previousSystem != option.System)
            {
            <div class="crm-pdf-subrows_1">
                <table>
                    <tr>
                        <td>@option.System</td>
                    </tr>
                </table>
            </div>
           }
            <div class="crm-pdf-subrows_2">
                <table>
                    <tr>
                        <td>@option.Classification</td>
                        <td>@option.Article_number</td>
                        <td>@option.Article</td>
                        <td>@License</td>
                        <td>@Maintenance</td>
                    </tr>
                </table>
            </div>
            previousSystem = option.System;
        }
        @{
            // Format currency for total sums
            string OptionLicenseTotalFormated = string.Format(se, "{0:C2}", OptionLicenseTotal).Replace(".", " ");
            string OptionMaintenanceTotalFormated = string.Format(se, "{0:C2}", OptionMaintenanceTotal).Replace(".", " ");
        }
        <span class="large-divider"></span>
        <div class="crm-pdf-subsum_1">
            <table>
                <tr>
                    <td></td>
                    <td>Summa Optioner:</td>
                    <td>@OptionLicenseTotalFormated</td>
                    <td>@OptionMaintenanceTotalFormated</td>
                </tr>
            </table>
        </div>
    </div>
}
@if (isMainContract && ViewBag.EducationalOptions.Count > 0)
{
@*-------------------------------------
Main contract and Educational Options
-------------------------------------*@
    <div id="crm-pdf-educational-portal-rows">
        <div class="crm-pdf-subheader_1" id="crm-pdf-educational-portal-rows-title">
            <table>
                <tr>
                    <td>Option: Lärportal</td>
                    <td></td>
                    <td></td>
                    <td>Person/år</td>
                </tr>
            </table>
        </div>
    <div class="large-divider"></div>
        @{
            decimal OptionMaintenanceTotal = 0;
        }
        @foreach (dynamic article in ViewBag.EducationalOptions)
        {
            String Maintenance = string.Format(se, "{0:C2}", article.Maintenance).Replace(".", " ");
            // Calculate total sums
            OptionMaintenanceTotal += Convert.ToDecimal(article.Maintenance);
            view_Module module = new view_Module();
            module.Select("Article_number = " + article.Article_number);

            // Format currency

            String License = string.Format(se, "{0:C2}", article.License).Replace(".", " ");
            <div class="crm-pdf-subrows_2">
                <table>
                    <tr>
                        <td style="padding-left:0em">@article.Classification</td>
                        <td>@article.Article_number</td>
                        <td>@article.Article</td>
                        <td></td>
                        <td>@Maintenance</td>
                    </tr>
                </table>
            </div>
        }
        @{
        // Format currency for total sums
            string EducationalPortalTotalFormated = string.Format(se, "{0:C2}", OptionMaintenanceTotal).Replace(".", " ");
        }
        <span class="large-divider"></span>
        <div class="crm-pdf-subsum_1">
            <table>
                <tr>
                    <td></td>
                    <td>Summa Option Lärportal:</td>
                    <td></td>
                    <td>@EducationalPortalTotalFormated</td>
                </tr>
            </table>
        </div>
    </div>
}
    <div class="crm-pdf-module-section-text">
     @Html.Raw(ViewBag.ModuleText)
    </div>
    @if (ViewBag.CustomerContract._ContractConsultantRows.Count > 0)
    {
@*-------------------------------------
Konsulttjänster
-------------------------------------*@
    <div id="crm-pdf-service-rows">
        <div class="crm-pdf-subheader_1">
            <table>
                <tr>
                    <td>Konsulttjänster/Teknikinstallation</td>
                    <td>Antal</td>
                    <td>Àpris</td>
                    <td>Summa</td>
                </tr>
            </table>
        </div>
        <div class="large-divider"></div>
        @{

        decimal ServicesTotal = 0;
        }
        @foreach (view_ContractConsultantRow cr in ViewBag.CustomerContract._ContractConsultantRows)
        {
            // Fetch Service from DB
            view_Service Service = new view_Service();
            Service.Select("Code = " + cr.Code);
            if (!String.IsNullOrEmpty(cr.Alias))
            {
                Service.Description = cr.Alias;
            }

            // Calculate total sums
            ServicesTotal += Convert.ToDecimal(cr.Total_price);


            // Format currency
            decimal? totPrice = cr.Amount != 0 ? (cr.Total_price / cr.Amount) : 0;
            string Price = string.Format(se, "{0:C2}", totPrice).Replace(".", " ");
            string TotalPrice = string.Format(se, "{0:C2}", cr.Total_price).Replace(".", " ");
            <div class="crm-pdf-subrows_1">
                <table>
                    <tr>
                        <td>@Service.Description</td>
                        <td>@cr.Amount</td>
                        <td>@Price</td>
                        <td>@TotalPrice</td>
                    </tr>
                </table>
            </div>
        }
        @{
        // Format currency for total sums
        string ServicesTotalFormated = string.Format(se, "{0:C2}", ServicesTotal).Replace(".", " ");
        }
        <span class="large-divider"></span>
        <div class="crm-pdf-subsum_1">
            <table>
                <tr>
                    <td></td>
                    <td>Summa Tjänster: </td>
                    <td></td>
                    <td>@ServicesTotalFormated</td>
                </tr>
            </table>
        </div>
    </div>
    }
