@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using TietoCRM.Extensions;
<row>
    <div class="col-md-12">
        <form method="get" action="~/SaleReport/Pdf" target="_blank" class="form-inline">
            <div class="form-group">
                <label for="crm-select-user">Representative:</label>
                <select name="user" id="crm-select-user" class="form-control selectpicker" data-live-search="true">
                    @foreach (TietoCRM.Models.view_User User in ViewBag.Users)
                    {
                        if (System.Web.HttpContext.Current.GetUser().Windows_user == User.Windows_user)
                        {
                            <option value="@User.Sign" selected>@User.Name</option>
                        }
                        else
                        {
                            <option value="@User.Sign">@User.Name</option>
                        }
                    }
                </select>
            </div>
            <button id="fetch-pdf" style="margin-top: 1.7em;" class="btn btn-default" type="button">PDF</button>
        </form>
    </div>
    <div class="col-md-12">
        <table draggable="true" id="report-table" class="table table-bordered table-hover" data-sort-name="name" data-sort-order="desc">
            <thead>
                <tr>
                    <th data-field="customer" data-sortable="true">Customer</th>
                    <th data-field="title" data-sortable="true">Title</th>
                    <th data-field="created" data-sortable="true">Created</th>
                    <th data-field="valid_through" data-sortable="true">Valid through</th>
                    <th data-field="maintenance" data-sortable="true">Maintenance / month</th>
                    <th data-field="license" data-sortable="true">License</th>
                    <th data-field="contact_person" data-sortable="true">Contact person</th>
                    <th data-field="customer_type" data-sortable="true">Customer type</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="col-md-12 form-inline">
        <label style="float:right; margin-right:5%;">Total License: <span class="text" id="total-license"> 0 kr</span></label>
        <label style="float:right; margin-right:5%;">Total Maintenance: <span class="text" id="total-maintenance"> 0 kr</span></label>
</div>
    <script>
    var serverPrefix = "@Url.Content("~/")";
    @{String DataObject = "\r\n";}
    @{
        DataObject += "\t\t\t\t\t\t\t\t\t\t{ \"data\": \"" + "customer" + "\"  },\r\n";
        DataObject += "\t\t\t\t\t\t\t\t\t\t{ \"data\": \"" + "title" + "\"  },\r\n";
        DataObject += "\t\t\t\t\t\t\t\t\t\t{ \"data\": \"" + "created" + "\"  },\r\n";
        DataObject += "\t\t\t\t\t\t\t\t\t\t{ \"data\": \"" + "valid_through" + "\"  },\r\n";
        DataObject += "\t\t\t\t\t\t\t\t\t\t{ \"data\": \"" + "maintenance" + "\"  },\r\n";
        DataObject += "\t\t\t\t\t\t\t\t\t\t{ \"data\": \"" + "license" + "\"  },\r\n";
        DataObject += "\t\t\t\t\t\t\t\t\t\t{ \"data\": \"" + "contact_person" + "\"  },\r\n";
        DataObject += "\t\t\t\t\t\t\t\t\t\t{ \"data\": \"" + "customer_type" + "\"  },\r\n";
    }
    @{DataObject = DataObject.Remove(DataObject.Length - 3);}
    var updateDataTable = function(user)
    {
        $('#report-table').DataTable({
            "destroy": true,
            "processing": true,
            "bFilter": false,
            "bPaginate": false,
            "ajax": {
                "url": serverPrefix + "SaleReport/User/",
                "type": "POST",
                "data": {
                    "user": user,
                },
                "dataSrc": function (json) {

                    var totalM = 0.0;
                    var totalL = 0.0;
                    for (var i = 0; i < Object.keys(json['data']).length; i++) {
                        var m = json['data'][i]['maintenance'];
                        totalM += m;

                        var l = json['data'][i]['license'];
                        totalL += l;
                    }
                    $("#total-maintenance").text(formatCurrency(String(totalM)));
                    $("#total-license").text(formatCurrency(String(totalL)));

                    return json.data;
                }

            },
            "defaultContent": "",
            "order": [[0,"asc"]],
            "columns": [@Html.Raw(DataObject)
            ],

            "scrollX": true,

        });

    }
    $('document').ready(function () {

        $('.selectpicker').selectpicker();

        $userContainer = $("#crm-select-user");

        updateDataTable($userContainer.val());

        $userContainer.change(function () {
            updateDataTable(this.value)

        });

        $('#fetch-pdf').click(function () {
            var user = $userContainer.val();
            var $dt = $('.dataTable').DataTable();
            var sortArr = $dt.order();
            var sort = "&sort=" + sortArr[0][1] + "&prop=" + $($dt.columns(sortArr[0][0]).header()).attr("data-field");

            window.open(serverPrefix + 'SaleReport/Pdf?user=' + user + sort, "_blank");
        })

    });

    </script>
</row>
